<div class="row">

    <div class="col-12">
        <h3 class="card-title">
            <!-- <div class="text-reset">Credential</div> -->
            <div class="text-secondary">
                <ul class="list-inline list-inline-dots">
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('schema_url')}}">Schema</a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('cred_def_url')}}">Definition</a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('rev_def_url')}}">Registry</a></li>
                    <li class="list-inline-item"><a href="#" data-bs-toggle="modal"
                            data-bs-target="#modal-preview">Preview</a></li>
                </ul>
            </div>
        </h3>
    </div>

    <div class="col-12">
        <div class="tracking mb-3">
            {% for entry in status %}
            {% if entry == 0 %}
            <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="ok">
            </div>
            {% elif entry == 1 %}
            <div class="tracking-block bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="revoked">
            </div>
            {% else %}
            <div class="tracking-block bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="unknown">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-12 mb-3">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="font-weight-medium">Issuance</div>
                    <div class="text-secondary">
                        {% if session['demo'].get('cred_ex_id') %}
                        {% if session['demo']['issuance'].get('state') == 'done' %}
                        <span class="badge bg-green"></span>
                        {% elif session['demo']['issuance'].get('state') == 'abandonned' %}
                        <span class="badge bg-danger"></span>
                        {% else %}
                        <span class="badge bg-warning"></span>
                        {% endif %}
                        {% else %}
                        {% endif %}
                        {{session['demo']['issuance'].get('state') }}
                    </div>
                </div>
                <div class="col-auto">
                    <a href="#">
                        <span class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M18.364 5.636l-12.728 12.728" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#">
                        <span class="text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-refresh">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mb-3">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="font-weight-medium">Presentation</div>
                    <div class="text-secondary">
                        {% if session['demo'].get('pres_ex_id') %}
                        {% if session['demo']['presentation'].get('state') == 'done' %}
                        {% if session['demo']['presentation'].get('verified') == 'true' %}
                        <span class="badge bg-green"></span>
                        {% else %}
                        <span class="badge bg-danger"></span>
                        {% endif %}
                        {% elif session['demo']['presentation'].get('state') == 'abandonned' %}
                        <span class="badge bg-danger"></span>
                        {% else %}
                        <span class="badge bg-warning"></span>
                        {% endif %}
                        {% else %}
                        {% endif %}
                        {{session['demo']['presentation'].get('state') }}
                    </div>
                </div>
                <div class="col-auto">
                    <a href="#">
                        <span class="text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-refresh">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mt-3 btn-list justify-content-center">
        {% if session.get('connection').get('state') == 'active' %}
        {# <div class="col-4 mt-3">
            <a href="{{ url_for('credential_offer') }}" class="btn btn-sm btn-outline-dark w-100">Issue</a>
        </div>
        {% if session.get('demo').get('issuance').get('state') == 'done'
        or session.get('demo').get('issuance').get('state') == 'credential-revoked' %}
        <div class="col-4 mt-3">
            <a href="{{ url_for('presentation_request') }}" class="btn btn-sm btn-outline-dark w-100">Request</a>
        </div>
        {% if session['demo']['presentation'].get('state') == 'done' %}
        {% if session['demo']['presentation'].get('verified') == 'true' %}
        <div class="col-4 mt-3">
            <a href="{{ url_for('credential_update') }}" class="btn btn-sm btn-outline-dark w-100">Revoke</a>
        </div>
        {% else %}
        <div class="col-4 mt-3">
            <a href="#" class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a>
        </div>
        {% endif %}
        {% else %}
        <div class="col-4 mt-3">
            <a href="#" class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a>
        </div> #}
        {% else %}
        {# <a href="#" class="col-3 btn btn-sm btn-outline-dark disabled">Issue</a>
        <a href="#" class="col-3 btn btn-sm btn-outline-dark disabled">Request</a>
        <a href="#" class="col-3 btn btn-sm btn-outline-dark disabled">Revoke</a> #}
        {% endif %}
    </div>
</div>