{% extends('layouts/base.jinja') %}
{% block page %}
{% include('components/modals/identifiers.jinja') %}
{% include('components/modals/mobiles.jinja') %}
{% include('components/modals/invitation.jinja') %}
{% include('components/modals/preview.jinja') %}

<div class="text-center mb-3">
    <a href="{{ url_for('index') }}" class="navbar-brand navbar-brand-autodark">
        <img src="https://raw.githubusercontent.com/hyperledger/anoncreds-spec/main/spec/images/logo/hl_anoncreds_colour.svg"
            width="100%" alt="">
    </a>
</div>
<div class="card-header mb-3">
    <div class="row align-items-center">
        <div class="col-auto">
            <div id="connection-avatar">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-invitation"><span class="avatar avatar-xl"
                        style="background-image: url({{ qrcode(session['invitation']['short_url']) }})"></span></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="card-title">Connection</div>
            <div class="card-subtitle">
                <div class="text-secondary">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            <span class="text-dark"
                                id="connection-label">{{session.get('connection').get('state')}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-actions btn-actions">
        <div class="dropdown">
            <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <!-- Download SVG icon from http://tabler.io/icons/icon/dots-vertical -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-1">
                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                    data-bs-target="#modal-identifiers">AdminAPI</a>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-mobiles">Mobile
                    Wallet</a>
                <a class="dropdown-item text-danger" href="{{ url_for('restart') }}">Reset</a>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    {% include('components/credential.jinja') %}
</div>
{# <div class="card-footer">
    <div class="row g-2 align-items-center">
        <div class="col-3"><a id="btn-message" href="{{ url_for('exchanges.send_joke') }}" class="btn btn-sm btn-outline-dark w-100 disabled">Message</a></div>
        <div class="col-3"><a id="btn-issuance" href="{{ url_for('exchanges.credential_offer') }}" class="btn btn-sm btn-outline-dark w-100 disabled">Issue</a></div>
        <div class="col-3"><a id="btn-presentation" href="{{ url_for('exchanges.presentation_request') }}" class="btn btn-sm btn-outline-dark w-100 disabled">Request</a></div>
        <div class="col-3"><a id="btn-revocation" href="{{ url_for('exchanges.credential_update') }}" class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a></div>
    </div>
</div> #}
{% include('components/scripts/sync.jinja')%}
{% endblock %}