{% extends('layouts/base.jinja') %}
{% block page %}
{% include('components/modals/identifiers.jinja') %}
{% include('components/modals/invitation.jinja') %}
{% include('components/modals/preview.jinja') %}
<div class="">

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-7 me-5">
                <div class="mb-4">
                    <a href="{{ url_for('index') }}" class="navbar-brand navbar-brand-autodark">
                        <img
                                src="https://raw.githubusercontent.com/hyperledger/anoncreds-spec/main/spec/images/logo/hl_anoncreds_colour.svg"
                                width="100%" alt="">
                    </a>
                </div>
                {% include('components/credential.jinja') %}
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="ms-3 mt-3">
                        <a href="{{ url_for('index') }}" class="navbar-brand navbar-brand-autodark">
                            <img
                                    src="{{ url_for('static', filename='img/didcomm-logo.png') }}"
                                    width="50%" alt="">
                        </a>
                    </div>
                    <div class="card-header mb-3">
                        {% include('components/connection.jinja') %}
                        {% include('components/actions.jinja') %}
                    </div>
                    <div class="card-body">
                        {% include('components/chat.jinja') %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# <div class="card-footer">
        <div class="row g-2 align-items-center">
            {% if session.get('connection').get('state') == 'active' %}
            <div class="col-3"><a href="{{ url_for('send_joke') }}"
                    class="btn btn-sm btn-outline-dark w-100">Message</a></div>
            <div class="col-3"><a href="{{ url_for('credential_offer') }}"
                    class="btn btn-sm btn-outline-dark w-100">Issue</a></div>
            {% else %}
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Message</a></div>
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Issue</a></div>
            {% endif %}
            {% if session.get('demo').get('issuance').get('state') == 'done'
            or session.get('demo').get('issuance').get('state') == 'credential-revoked' %}
            <div class="col-3"><a href="{{ url_for('presentation_request') }}"
                    class="btn btn-sm btn-outline-dark w-100">Request</a></div>
            {% if session['demo']['presentation'].get('state') == 'done' %}
            {% if session['demo']['presentation'].get('verified') == 'true' %}
            <div class="col-3"><a href="{{ url_for('credential_update') }}"
                    class="btn btn-sm btn-outline-dark w-100">Revoke</a></div>
            {% else %}
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a></div>
            {% endif %}
            {% else %}
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a></div>
            {% endif %}
            {% else %}
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Request</a></div>
            <div class="col-3"><a class="btn btn-sm btn-outline-dark w-100 disabled">Revoke</a></div>
            {% endif %}
        </div>
    </div> #}
</div>
{% include('components/scripts/sync.jinja')%}
{% endblock %}