{% extends('layouts/base.jinja') %}
{% block page %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title mb-1">
            <div class="text-reset">Attested Resource</div>
        </h3>
    </div>
</div>
{% endblock %}