<script>
    function createOffer() {
        $.get("{{ url_for('exchanges.credential_offer') }}")
    }
    function revokeCredential() {
        $.get("{{ url_for('exchanges.credential_update') }}")
    }
    function requestPresentation() {
        $.get("{{ url_for('exchanges.presentation_request') }}")
    }
    function sendMessage() {
        $.get("{{ url_for('exchanges.send_message') }}")
    }
</script>