<script>
    createOffer() {
        await fetch("{{ url_for('exchanges.credential_offer') }}")
    }
    revokeCredential() {
        await fetch("{{ url_for('exchanges.credential_update') }}")
    }
    requestPresentation() {
        await fetch("{{ url_for('exchanges.presentation_request') }}")
    }
</script>